;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"
  "repl"]

 :dependencies
 [[reagent "0.8.1"]
  [re-frame "0.10.6"]
  [day8.re-frame/tracing "0.5.1"]
  [day8.re-frame/re-frame-10x "0.3.2-react16"]
  [binaryage/devtools "0.9.8"]
  [instaparse "1.4.10"]
  [datascript "0.18.3"]
  [medley "1.2.0"]]


 :builds
 {:site {:target :npm-module
         :optimizations :advanced
         :output-dir "site/src/cljs"
         :build-hooks [(shadow.next-js/create-pages)]
         :entries [blog.site
                   blog.app
                   blog.talk
                   blog.blog
                   blog.about
                   app.counter
                   app.dbgram]}
  :app-dbgram
        {:target :browser
         :output-dir "cljs-web/js/compiled"
         :modules    {:base {:entries [app.dbgram]}}
         ;:output-dir "public/js/compiled"
         :asset-path "/js/compiled"
         :dev        {:compiler-options {:closure-defines {re_frame.trace.trace_enabled?        true
                                                           day8.re-frame.tracing.trace-enabled? true}}}
         :devtools   {:http-root    "cljs-web"
                      :http-handler shadow.http.push-state/handle
                      :http-port    8480
                      :after-load   app.dbgram/mount-root
                      :preloads     [devtools.preload
                                     day8.re-frame-10x.preload]}}}}
